<form class="dfarch-capture-form">
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_Target'}}</h3>
	<input class="shrink" type="radio" value="cur" id="cur" name="target" {{#unless all}}checked{{/unless}}>
	<label class="grow" for="cur">{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_Target_Current'}}</label>
	<div></div>
	<input class="shrink" type="radio" value="all" id="all" name="target" {{#if all}}checked{{/if}}>
	<label class="grow" for="all">{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_Target_All'}}</label>
	<div></div>
	<input class="shrink" type="checkbox" id="padding" name="padding"/>
	<label class="grow" for="padding">{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_KeepPadding'}}</label>
	<div><p>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_SplitImageNote'}}</p></div>
	<input class="shrink" style="width:50px;margin-right:0.25em" id="split-h" type="number" min="1" max="8" step="1" value="1"/>
	<label class="shrink" for="split-h">horizontal</label>
	<input class="shrink" style="width:50px;margin-right:0.25em;margin-left:1em" id="split-v" type="number" min="1" max="8" step="1" value="1"/>
	<label class="shrink" for="split-v">vertical</label>
	<div></div>
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_Format'}}</h3>
	<select name="format" id="format">
		<option value="png" {{#if png}}selected{{/if}}>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_FormatPNG'}}</option>
		<option value="jpeg" {{#if jpeg}}selected{{/if}}>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_FormatJPG'}}</option>
		<option value="webp" {{#if webp}}selected{{/if}}>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_FormatWEB'}}</option>
	</select>
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen_ScreenCapture_Compression'}}</h3>
	<output class="shrink">{{compression}}</output>
	<input class="grow" id="compression" name="compression" type="range" min="0" max="1" step="0.01"
		value="{{compression}}">
	{{#if isGM}}
	<section>
		<h3
			onclick="$('.dfarch-capture-form i.fa-plus-square').toggle();$('.dfarch-capture-form i.fa-minus-square').toggle();$('.dfarch-capture-form section>div').slideToggle(200);$('.dfarch-capture-form span').slideToggle(200)">
			<i class="far fa-plus-square"></i>
			<i class="far fa-minus-square" style="display:none"></i>
			Layer Filtering
		</h3>
		<div style="display:none">
			{{#each layers}}
			<input style="grid-row:{{add @index 1}};grid-column:1" type="checkbox" id="{{name}}-show" value="{{name}}" {{#if visible}}checked{{/if}}>
			<label style="grid-row:{{add @index 1}};grid-column:2" for="{{name}}-show">{{label}}</label>
			{{#if hasControls}}
			<input style="grid-row:{{add @index 1}};grid-column:3" type="checkbox" id="{{name}}-controls" value="{{name}}" {{#if active}}checked{{/if}}>
			<label style="grid-row:{{add @index 1}};grid-column:4" for="{{name}}-controls">{{localize 'Show Controls'}}</label>
			{{/if}}
			{{#if hasHidden}}
			<input style="grid-row:{{add @index 1}};grid-column:3" type="checkbox" id="{{name}}-hidden" value="{{name}}">
			<label style="grid-row:{{add @index 1}};grid-column:4" for="{{name}}-hidden">{{localize 'Show Hidden'}}</label>
			{{/if}}
			{{/each}}
		</div>
		<span style="display:block;height:150px">&nbsp;</span>
	</section>
	{{/if}}
</form>