<form class="dfarch-capture-form">
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.File.Title'}}</h3>
	<label class="grow" for="fileName">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.File.AppendDate'}}</label>
	<div></div>
	<input class="grow" type="text" id="fileName" name="fileName" placeholder="screenshot" value="{{fileName}}"/>
	<div></div>
	<input class="shrink" type="checkbox" id="fileDate" name="fileDate" {{#if fileDate}}checked{{/if}}/>
	<label class="grow" for="fileDate">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.File.AppendDate'}}</label>
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Target'}}</h3>
	<input class="shrink" type="radio" value="cur" id="cur" name="target" {{#unless all}}checked{{/unless}}>
	<label class="grow" for="cur">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Target_Current'}}</label>
	<div></div>
	<input class="shrink" type="radio" value="all" id="all" name="target" {{#if all}}checked{{/if}}>
	<label class="grow" for="all">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Target_All'}}</label>
	<div></div>
	<input class="shrink" type="checkbox" id="padding" name="padding" {{#if pads}}checked{{/if}}/>
	<label class="grow" for="padding">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.KeepPadding'}}</label>
	<div><p>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.SplitImageNote'}}</p></div>
	<input class="shrink" style="width:50px;margin-right:0.25em" id="split-h" type="number" min="1" max="8" step="1" value="{{hori}}"/>
	<label class="shrink" for="split-h">horizontal</label>
	<input class="shrink" style="width:50px;margin-right:0.25em;margin-left:1em" id="split-v" type="number" min="1" max="8" step="1" value="{{vert}}"/>
	<label class="shrink" for="split-v">vertical</label>
	<div></div>
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Format'}}</h3>
	<select name="format" id="format">
		<option value="png" {{#if png}}selected{{/if}}>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.FormatPNG'}}</option>
		<option value="jpeg" {{#if jpeg}}selected{{/if}}>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.FormatJPG'}}</option>
		<option value="webp" {{#if webp}}selected{{/if}}>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.FormatWEB'}}</option>
	</select>
	<h3>{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Compression'}}</h3>
	<output class="shrink" style="min-width:2em">{{compression}}</output>
	<input class="grow" id="compression" name="compression" type="range" min="0" max="1" step="0.01"
		value="{{compression}}">
	{{#if isGM}}
	<div style="margin-top:2em"></div>
	<input class="shrink" id="bg-hide" name="bg.hide" type="checkbox" {{#if bg.hide}}checked{{/if}}>
	<label class="grow" for="bg-hide">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Background.Hide'}}</label>
	<div></div>
	<label class="shrink" for="bg-colo" style="margin-right:0.5em">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Background.Colour'}}</label>
	<a id="bg-colo-reset" class="shrink button" style="margin-right:0.5em" title="{{localize 'Reset to Current Scene\'s Background Colour'}}"><i class="fas fa-redo"></i></a>
	<input class="grow" id="bg-colo" name="bg.colo" type="color" value="{{bg.colo}}">
	<div style="margin-top:0.5em"></div>
	<label class="shrink" for="bg-alph" style="margin-right:1em">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.Background.Alpha'}}</label>
	<input class="grow" id="bg-alph" name="bg.alph" value="{{bg.alph}}" type="range" min="0" max="100" step="1">
	<output class="shrink" style="margin-left:1em;min-width:3em" id="bg-alph-out">{{bg.alph}}%</output>
	<section>
		<h3
			onclick="$('.dfarch-capture-form i.fa-plus-square').toggle();$('.dfarch-capture-form i.fa-minus-square').toggle();$('.dfarch-capture-form section>div').slideToggle(200);$('.dfarch-capture-form span').slideToggle(200)">
			<i class="far fa-plus-square"></i>
			<i class="far fa-minus-square" style="display:none"></i>
			Layer Filtering
		</h3>
		<div style="display:none">
			{{#each layers}}
			<input style="grid-row:{{add @index 1}};grid-column:1" type="checkbox" id="{{name}}-show" value="{{name}}" {{#if filter.s}}checked{{/if}}>
			<label style="grid-row:{{add @index 1}};grid-column:2" for="{{name}}-show">{{label}}</label>
			{{#if hasControls}}
			<input style="grid-row:{{add @index 1}};grid-column:3" type="checkbox" id="{{name}}-controls" value="{{name}}" {{#if (or active filter.c)}}checked{{/if}}>
			<label style="grid-row:{{add @index 1}};grid-column:4" for="{{name}}-controls">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.ShowControls'}}</label>
			{{/if}}
			{{#if hasHidden}}
			<input style="grid-row:{{add @index 1}};grid-column:3" type="checkbox" id="{{name}}-hidden" value="{{name}}" {{#if filter.h}}checked{{/if}}>
			<label style="grid-row:{{add @index 1}};grid-column:4" for="{{name}}-hidden">{{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.ShowHidden'}}</label>
			{{/if}}
			{{/each}}
		</div>
		<button id="filter-reset"><i class="fas fa-redo-alt"></i> {{localize 'DF_ARCHITECT.CaptureGameScreen.ScreenCapture.ResetFilters'}}</button>
		<span style="display:block;height:150px">&nbsp;</span>
	</section>
	{{/if}}
</form>