<div id="dfarch-cur-light-template">
	<a class="button" title="Edit Template"><i class="fas fa-pencil-alt"></i></a>
	<h2 style="text-align:center;grid-column-end:4">{{localize 'DF_ARCHITECT.LightTemplate_CurrentTemplate_Label'}}</h2>
	<a class="button" title="Stop Placing Template"><i class="fas fa-times"></i></a>
	<h1>{{name}}</h1>
	<h2>{{localize "LIGHT.LightType"}}:</h2>
	<p>{{localize lightType}}</p>
	<h2>{{localize "LIGHT.LightDim" }}:</h2>
	<p>{{data.dim}}</p>
	<h2>{{localize "LIGHT.LightBright" }}:</h2>
	<p>{{data.bright}}</p>
	<h2>{{localize "LIGHT.LightAngle" }}:</h2>
	<p>{{data.angle}}</p>
	<h2>{{localize "LIGHT.LightRotation" }}:</h2>
	<p>{{data.rotation}}</p>
	<h2>{{ localize 'LIGHT.DarknessThreshold' }}:</h2>
	<p>{{data.darknessThreshold}}</p>
	<h2>{{ localize "LIGHT.LightColor" }}:</h2>
	<p style="padding:0"><code style="padding:0.25em;background-color:{{tintColorValue}};color:#{{#if tintIsDark}}fff{{else}}000{{/if}}">{{tintColorLabel}}</code></p>
	<h2>{{ localize "LIGHT.LightAlpha" }}:</h2>
	<p>{{colorIntensity}}</p>
	<h2>{{localize "LIGHT.AnimationType"}}:</h2>
	<p>{{localize animationType}}</p>
	<h2>{{localize "LIGHT.AnimationSpeed"}}:</h2>
	<p>{{data.lightAnimation.speed}}</p>
	<h2>{{localize "LIGHT.AnimationIntensity"}}:</h2>
	<p>{{data.lightAnimation.intensity}}</p>
</div>