<form>
	<h2>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Title'}}</h2>
	<table>
		<thead>
			<th>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_TableLayer'}}</th>
			<th>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_TableKey'}}</th>
			<th>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_TableMods'}}</th>
		</thead>
		<tbody>
			{{#each layers as | layer |}}
			<tr>
				<td>{{localize layer.label}}</td>
				<td>
					<select name="{{layer.name}}.key" data-dtype="String">
						<option value="">---</option>
						{{#each ../keys}}
						<option value="{{key}}" {{#if (eq key layer.setting.key)}} selected{{/if}}>{{value}}</option>
						{{/each}}
					</select>
				</td>
				<td>
					<label>
						<span>Shift</span>
						<input type="checkbox" name="{{layer.name}}.shift" {{#if layer.setting.shift}}checked{{/if}} />
					</label>
					<label>
						<span>Ctrl</span>
						<input type="checkbox" name="{{layer.name}}.ctrl" {{#if layer.setting.ctrl}}checked{{/if}} />
					</label>
					<label>
						<span>Alt</span>
						<input type="checkbox" name="{{layer.name}}.alt" {{#if layer.setting.alt}}checked{{/if}} />
					</label>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<blockquote>
		{{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_Warning'}}}
	</blockquote>
	<button id="reset"><i class="fas fa-redo"></i> {{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Reset'}}</button>
	<button type="submit"><i class="fas fa-save"></i> {{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Save'}}</button>
</form>