<form>
	<h2>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Title'}}</h2>
	<table>
		<thead>
			<th>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_TableLayer'}}</th>
			<th>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_TableKey'}}</th>
			<th>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_TableMods'}}</th>
		</thead>
		<tbody>
			{{#each layers as | layer |}}
			<tr>
				<td>{{localize layer.label}}</td>
				<td>
					<select name="layers.{{layer.name}}.key" data-dtype="String">
						<option value="">---</option>
						{{#each ../keys}}
						<option value="{{key}}" {{#if (eq key layer.setting.key)}} selected{{/if}}>{{label}}</option>
						{{/each}}
					</select>
				</td>
				<td>
					<label>
						<span>Shift</span>
						<input type="checkbox" name="layers.{{layer.name}}.shift" {{#if layer.setting.shift}}checked{{/if}} />
					</label>
					<label>
						<span>Ctrl</span>
						<input type="checkbox" name="layers.{{layer.name}}.ctrl" {{#if layer.setting.ctrl}}checked{{/if}} />
					</label>
					<label>
						<span>Alt</span>
						<input type="checkbox" name="layers.{{layer.name}}.alt" {{#if layer.setting.alt}}checked{{/if}} />
					</label>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<h3>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_QuickSwap_Title'}}</h3>
	<p>{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_QuickSwap_Info'}}</p>
	<table>
		<tr>
			<td class="hotswap">
				<select name="hotswap.layer1" data-dtype="String">
					{{#each layers as | layer |}}
					<option value="{{layer.name}}" {{#if (eq layer.name ../hotswap.layer1)}} selected{{/if}}>{{layer.label}}</option>
					{{/each}}
				</select>
				<select name="hotswap.layer2" data-dtype="String">
					{{#each layers as | layer |}}
					<option value="{{layer.name}}" {{#if (eq layer.name ../hotswap.layer2)}} selected{{/if}}>{{layer.label}}</option>
					{{/each}}
				</select>
				<select name="hotswap.map.key" data-dtype="String">
					<option value="">---</option>
					{{#each keys}}
					<option value="{{key}}" {{#if (eq key ../hotswap.map.key)}} selected{{/if}}>{{label}}</option>
					{{/each}}
				</select>
				<label>
					<span>Shift</span>
					<input type="checkbox" name="hotswap.map.shift" {{#if hotswap.map.shift}}checked{{/if}} />
				</label>
				<label>
					<span>Ctrl</span>
					<input type="checkbox" name="hotswap.map.ctrl" {{#if hotswap.map.ctrl}}checked{{/if}} />
				</label>
				<label>
					<span>Alt</span>
					<input type="checkbox" name="hotswap.map.alt" {{#if hotswap.map.alt}}checked{{/if}} />
				</label>
			</td>
		</tr>
	</table>
	<blockquote>{{{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Label_Warning'}}}</blockquote>
	<h2>{{localize 'DF_ARCHITECT.WallCtrlInvert_Label'}}</h2>
	<table>
		<tbody>
			<tr>
				<td>{{localize 'DF_ARCHITECT.WallCtrlInvert_Setting_Hotkey'}}</td>
				<td>
					<select name="wallCtrlInvert.key" data-dtype="String">
						<option value="">---</option>
						{{#each keys}}
						<option value="{{key}}" {{#if (eq key ../wallCtrlInvert.key)}} selected{{/if}}>{{label}}</option>
						{{/each}}
					</select>
				</td>
				<td>
					<label>
						<span>Shift</span>
						<input type="checkbox" name="wallCtrlInvert.shift" {{#if wallCtrlInvert.shift}}checked{{/if}} />
					</label>
					<label>
						<span>Ctrl</span>
						<input type="checkbox" name="wallCtrlInvert.ctrl" {{#if wallCtrlInvert.ctrl}}checked{{/if}} />
					</label>
					<label>
						<span>Alt</span>
						<input type="checkbox" name="wallCtrlInvert.alt" {{#if wallCtrlInvert.alt}}checked{{/if}} />
					</label>
				</td>
			</tr>
		</tbody>
	</table>

	<button id="reset"><i class="fas fa-redo"></i> {{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Reset'}}</button>
	<button type="submit"><i class="fas fa-save"></i> {{localize 'DF_ARCHITECT.LayerShortcuts_Settings_Save'}}</button>
</form>