{{!-- <form autocomplete="off"> --}}
	<p class="hint">{{ localize "LIGHT.ConfigHint" }}</p>

	<div class="form-group">
		<label>{{localize "LIGHT.LightType"}}</label>
		<select name="t">
			{{selectOptions lightTypes selected=object.t localize=true}}
		</select>
	</div>

	<div class="form-group">
		<label>{{localize "LIGHT.LightDim" }} <span class="units">({{localize "GridUnits"}})</span>:</label>
		<input type="text" name="dim" placeholder="{{localize 'GridUnits'}}" value="{{object.dim}}"
			data-dtype="Number" />
	</div>
	<div class="form-group">
		<label>{{localize "LIGHT.LightBright" }} <span class="units">({{localize "GridUnits"}})</span>:</label>
		<input type="text" name="bright" placeholder="{{localize 'GridUnits'}}" value="{{object.bright}}"
			data-dtype="Number" />
	</div>

	<div class="form-group">
		<label>{{localize "LIGHT.LightAngle" }} <span class="units">({{localize "Degrees"}})</span>:</label>
		<input type="text" name="angle" value="{{object.angle}}" data-dtype="Number" />
	</div>

	<div class="form-group">
		<label>{{localize "LIGHT.LightRotation" }} <span class="units">({{localize "Degrees"}})</span>:</label>
		<div class="form-fields">
			<input type="range" name="rotation" value="{{object.rotation}}" min="0.0" max="360" step="1" />
			<span class="range-value">{{object.rotation}}</span>
		</div>
	</div>

	<div class="form-group">
		<label>{{ localize 'LIGHT.DarknessThreshold' }}</label>
		<div class="form-fields">
			<input type="range" name="darknessThreshold" value="{{object.darknessThreshold}}" min="0.0" max="1.0"
				step="0.05" data-dtype="Number" />
			<span class="range-value">{{object.darknessThreshold}}</span>
		</div>
		<p class="hint">{{ localize "LIGHT.DarknessThresholdHint" }}</p>
	</div>

	<div class="form-group">
		<label>{{ localize "LIGHT.LightColor" }}</label>
		<div class="form-fields">
			<input class="color" type="text" name="tintColor" value="{{object.tintColor}}" data-dtype="String" />
			<input type="color" value="{{object.tintColor}}" data-edit="tintColor" />
			<button class="eyedropper" style="flex:0 0" title="{{localize 'DF_ARCHITECT.QuickColourPicker.EyeDrop_Title'}}"><i class="fas fa-eye-dropper"></i></button>
		</div>
	</div>

	<div class="form-group">
		<label>{{ localize "LIGHT.LightAlpha" }}</label>
		<div class="form-fields">
			<input type="range" name="tintAlpha" value="{{colorIntensity}}" min="0.0" max="1.0" step="0.05" />
			<span class="range-value">{{colorIntensity}}</span>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "LIGHT.AnimationType"}}</label>
		<div class="form-fields">
			<select name="lightAnimation.type">
				{{selectOptions lightAnimations selected=object.lightAnimation.type localize=true}}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "LIGHT.AnimationSpeed"}}</label>
		<div class="form-fields">
			<input type="range" name="lightAnimation.speed" value="{{object.lightAnimation.speed}}" min="1" max="10"
				step="1" data-dtype="Number" />
			<span class="range-value">{{object.lightAnimation.speed}}</span>
		</div>
	</div>

	<div class="form-group">
		<label>{{localize "LIGHT.AnimationIntensity"}}</label>
		<div class="form-fields">
			<input type="range" name="lightAnimation.intensity" value="{{object.lightAnimation.intensity}}" min="1"
				max="10" step="1" data-dtype="Number" />
			<span class="range-value">{{object.lightAnimation.intensity}}</span>
		</div>
	</div>

	<div class="form-group">
		<button type="submit"><i class="far fa-save"></i> {{localize 'DF_ARCHITECT.LightTemplate.TemplateConfig.SaveButton'}}</button>
		<button type="button" class="execute"><i class="far fa-lightbulb"></i> {{localize 'DF_ARCHITECT.LightTemplate.TemplateConfig.UseButton'}}</button>
	</div>
{{!-- </form> --}}