<div>
	<p>{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.WhatToDo'}}</p>
	<button id="replace" style="margin-bottom:0.5em;background:rgba(0,0,0,0.1);border:2px groove #f0f0e0;margin-right:0.5px"
		title="{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.ReplaceBackgroundHint'}}">
		<i class="fas fa-image"></i>
		{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.ReplaceBackground'}}
	</button>
	<button id="clone" style="margin-bottom:0.5em;background:rgba(0,0,0,0.1);border:2px groove #f0f0e0;margin-right:0.5px"
		title="{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.CloneSceneHint'}}">
		<i class="fas fa-clone"></i>
		{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.CloneScene'}}
	</button>
	<button id="tile" style="margin-bottom:0.5em;background:rgba(0,0,0,0.1);border:2px groove #f0f0e0;margin-right:0.5px"
		title="{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.ImportToSceneHint'}}">
		<i class="far fa-square"></i>
		{{localize 'DF_ARCHITECT.TileFlattener.SceneReplaceDialog.ImportToScene'}}
	</button>
</div>